/* styles.css */

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Variable.ttf") format("truetype")
}

@font-face {
  font-family: Mon;
  src: url("fonts/Montserrat-Variable.ttf") format("truetype")
}
:root {
  --cmured:#EF3a47;
  --no-of-slides: 6;
  --slide-width: clamp(100px, max(30vh, 30vw), 600px);
  --slide-height: clamp(66px, max(20vh, 20vw), 400px);
  --iteration-time: 100s;

}


body {
    background-color:  white;
    color: black;
    font-family: OpenSans, sans-serif;
    min-height: 100vh;
    
  }
  
p {
  margin-left: 5vw;
      margin-right: 5vw;
      
}
  #main-filler {
    height: 30vh;
    }
    #about-us {
      margin-left: 5vw;
      margin-right: 5vw;
      font-size: clamp(1rem, max(2vw,2vh) , 2rem);
      font-weight: 300;
    }
    #Flagship-tabs-header{
      font-family: OpenSans, sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: clamp(2.5rem, max(2vw,2vh) , 3.5rem);
      
    }
  #main-text {
    position: relative;
    height: 70vh;
    width: 95vw;
    left: 5vw;
    /*top 30vh; */ 
    align-content: center;
    font-size: calc(clamp(1rem, max(5vw,5vh),5rem));
    font-weight: 300;
    z-index:1;

    }
    #mmg_description {
      margin-right: 10vw;
      margin-left: 50vw;
      font-size: calc(clamp(1rem, max(5vw,5vh),1.5rem));
    }
    .mmg_pic_container {
      left: 10vw;
      top: 5vh;
      position: absolute;
      width: 40vw;
      height: 40vh;
      border-radius: 16px;
      overflow: hidden;
    }

    .mmg_pic_container img {
    
      width: 100%;
  height: 100%;
  object-fit: cover;
          
    }
    #quantathon_description {
      margin-left: 10vw;
      margin-right: 50vw;
      font-size: calc(clamp(1rem, max(5vw,5vh),1.5rem));
    }
    .q_pic_container {
      right: 10vw;
      top: 5vh;
      position: absolute;
      width: 40vw;
      height: 40vh;
      border-radius: 16px;
      overflow: hidden;
    }

    .q_pic_container img {
    
      width: 100%;
  height: 100%;
  object-fit: cover;
          
    }
  .red {
    color: #EF3a47;
  }
  .iron-grey {
    color:#6D6e71;
  }
  
  #header {
    font-weight: 500;
    position: absolute;
    width: 50vw;
    right: 2vw;
    text-align: right;
    font-size: clamp(0.25rem, max(2vw,2vh) , 1rem);
    z-index: 1;

  }
  .nav-bar {
    font-family: Mon, sans-serif;
    font-weight: 300;
    color: black;
    font-size: clamp(0.5rem,max(3vh,3vw),1.5rem);
    width: 100vw;
    text-align: center;
    align-content: center;
    z-index: 1;
    
  }
  .clean-link {
    text-decoration: none;
    color: black;
  }
  .tab {
    font-family: OpenSans;
    overflow: hidden;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .tab button {
    font-family: OpenSans;
    background-color: inherit;
    color:inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: clamp(0.25rem,max(2vw,2vh),1.5rem);
    padding:1vw;
    text-align: center;
    align-content: center;
  }
  
  .tab button.active {
    border-color: #6D6e71;
    color: #EF3A47;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    overflow-wrap: break-word;
    min-height: 50vh;
    position:relative;
  
  }
  

  .table {
    width: 100vw;
    align-content: center;
    text-align: center;
    border: 1px solid black;
  }



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
  }
}

.carousel__wrapper {
  display: flex;
  align-items: center;

  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  padding: 2vh 0;
  
  overflow: hidden;
  width: calc(2 * var(--no-of-slides));
}

.carousel__slide {
  animation: scroll var(--iteration-time) linear infinite;
  display: flex;
  flex-direction: column;
  
  flex: 0 0 auto;
  width: var(--slide-width);
  height: var(--slide-height);
  box-sizing: border-box;
  }

.carousel__image {
  background-size: cover;
  background-repeat: no-repeat;
  
  border-radius: .5rem;
  
  height: 100%;
  
  margin:clamp(5px, 1vw ,20px)   clamp(5px, 1vw ,20px);
}


