/* styles.css */

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Variable.ttf") format("truetype")
}

@font-face {
  font-family: Mon;
  src: url("fonts/Montserrat-Variable.ttf") format("truetype")
}

body {
    background-color:  white;
    color: black;
    font-family: OpenSans, sans-serif;
  }
  

  #main-filler {
    height: 30vh;
    }
  #main-text {
    position: relative;
    height: 70vh;
    width: 95vw;
    left: 5vw;
    /*top 30vh; */ 
    align-content: center;
    font-size: calc(clamp(1rem, max(5vw,5vh),5rem));
    font-weight: 300;
    z-index:1;

    }
  
  .red {
    color: #EF3a47;
  }
  .iron-grey {
    color:#6D6e71;
  }
  
  #header {
    font-weight: 300;
    position: absolute;
    width: 50vw;
    right: 2vw;
    text-align: right;
    font-size: clamp(0.25rem, max(2vw,2vh) , 1rem);
    z-index: 1;
  }
  .nav-bar {
    font-family: Mon, sans-serif;
    font-weight: 300;
    font-size: clamp(0.5rem,max(3vh,3vw),2.5rem);
    width: 100vw;
    text-align: center;
    align-content: center;
    z-index: 1;
    
  }
  .clean-link {
    text-decoration: none;
    color: black;
  }

  .table {
    width: 100vw;
    align-content: center;
    text-align: center;
    border: 1px solid black;
  }

