/* style.css */
@font-face {
    font-family: Mon;
    src: url("fonts/Montserrat-Variable.ttf");
}
@font-face {
    font-family: OpenSans;
    src: url("fonts/OpenSans-Variable.ttf")
}
body {
    font-family: Mon, sans-serif;
    font-size: clamp(.5rem,max(2vw,2vh),1.5rem);
    color:black;
    margin: .25rem;
    padding: .25rem;
    background-color: white;

}
.clean-link { 
    
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family: OpenSans, sans-serif;  
    
}


.tiles-container {
    display: grid;
    padding: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(max(200px,25%), 1fr));
    
      
  }
  .tiles-container > div {
    display:flex;
    padding: .5rem;
    text-align: center;
    font-size: clamp(.5rem, max(3vh,3vw) 2rem); 
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
.tiles-container > div > a {
    text-decoration: none;
    color: black;
}
header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}
 
#nav-bar {
    text-align: center;
    font-size: clamp(1rem,max(3vh,3vw),2.5rem);
    padding-top: 3rem;
    }





