/* styles.css */

body {
  font-family: 'Open Sans', sans-serif;
    
    background-color: white;
    color: black;
  }
  

  
  .main-text {
    position: absolute;
    height: 30%;
    width: 40%;
    left: 5%;
    top: 40%;

    text-align:center;
    font-size: calc(3vh + 3vw);
    font-weight: bold;
    z-index:1;
  }
  
  .red {
    color: #c41230;
  }
  
  
  .nav-bar {
    position:fixed;
    font-size:3vw;
    width: 100%;
    text-align: center;
    bottom:0%;
  }
  .clean-link {
    text-decoration: none;
    color: #6D6e71
  }
  img#waves {
    position: absolute;
    top:30vh;
    z-index: 0;
  }