/* styles.css */

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
    
    background-color:  white;
    color: black;
  }
  

  
  .main-text {
    position: absolute;
    height: 50vh;
    width: 95vw;
    left: 5vw;
    top: 30vh;
    align-content: center;
    font-size: calc(min(10vw, 10vh));
    font-weight: bold;
    z-index:1;
    }
  
  .red {
    color: #c41230;
  }
  .iron-grey {
    color:#6D6e71;
  }
  
  .header {
    position: absolute;
    width: 40vw;
    right: 2vw;
    text-align: right;
    color:#6D6e71;
    font-size: calc(2*min(1vw,1vh));
  }
  .nav-bar {
    position: absolute;
    font-size: calc(5*min(1vw, 1vh));
    width: 100vw;
    height: 20%;
    text-align: center;
    align-content: center;
    bottom: 0%
    
  }
  .clean-link {
    text-decoration: none;
    color: #6D6e71
  }

  .table {
    width: 100vw;
    align-content: center;
    text-align: center;
    border: 1px solid black;
  }