/* styles.css */

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
    
    background-color: white;
    color: black;
  }
  

  
  .main-text {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 5%;
    top: 30%;
    align-content: center;
    font-size: calc(min(10vw, 10vh));
    font-weight: bold;
    z-index:1;
  }
  
  .red {
    color: #c41230
  }
  .iron-grey {
    color:#6D6e71
  }
  
  .header {
    position: absolute;
    width: 30%;
    left: 70%;
    text-align: center;
    color:#6D6e71;
    font-size: calc(2*min(1vw,1vh));
  }
  .nav-bar {
    position:fixed;
    font-size: calc(5*min(1vw, 1vh));
    width: 100%;
    height: 20%;
    text-align: center;
    align-content: center;
    bottom:0%;
  }
  .clean-link {
    text-decoration: none;
    color: #6D6e71
  }
  img#waves {
    position: absolute;
    top:30vh;
    z-index: 0;
  }